<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144849137350-1n14q3jbfn2pvifcqrt5qe1qpc2c6lqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144849137350-1n14q3jbfn2pvifcqrt5qe1qpc2c6lqd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144849137350-9ucjiuh8vg57g4ci1sifi6t6thraa05s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT49VxVQ96moeuNXW_RSxxpnXVlHZ75Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>144849137350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ProprtyApp</string>
	<key>PROJECT_ID</key>
	<string>propertyapp-a889a</string>
	<key>STORAGE_BUCKET</key>
	<string>propertyapp-a889a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144849137350:ios:ff2282bc79d559a9f431c7</string>
</dict>
</plist>